In [1]:
import sys
import pandas as pd
import dateutil
import numpy as np
sys.path.append('../')
from utilities.era5_down import era5_down
import glob

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
date_parser = lambda x: dateutil.parser.parse(x, ignoretz=True)
# Improved function to sum dataframe columns which contain nan's
def nansumwrapper(a, **kwargs):
    if np.isnan(a).all():
        return np.nan
    else:
        return np.nansum(a, **kwargs)

In [4]:
#cs_file = '../data/SMB_bellin.csv'
cs_file = '../data/SMB_bellin_diff_1.csv'
#cs_file = '../data/SMB_fourc.csv'
dfmb = pd.read_csv(cs_file,
   delimiter='\t', parse_dates=['Date', 'Date1'], na_values='NAN')
labels = dfmb.drop_duplicates(subset=['Stake'])

In [5]:
t2m = 't2m'
rh2 = 'rh'
ff  = 'u2'
Prec = 'tp'
Snowfall = 'sf'
SWD = 'SWin'
LWD = 'LWin'
Pres = 'press'
fcc  = 'tcc'
msl  = 'msl'

In [6]:
files = sorted(glob.glob('../data/ERA_59_20_day/*.nc'))
len(files)

62

In [7]:
data_pro = []
for st in labels['Stake']:
    stake  = dfmb.loc[lambda df: df['Stake'] == st, :].copy().reset_index()
    df_day = era5_down(files, stake['Longitude'][0],
                       stake['Latitude'][0], 
                       stake['Elevation'][0])
    df_day['t2m_an'] = (df_day[t2m] - df_day[t2m].mean())/df_day[t2m].std()
    subset_f0 = []
    for i in range(len(stake)):
        subset = df_day.loc[str(stake.Date1[i]): str(stake.Date[i])].copy()
        subset['PDD'] = subset[t2m].where(subset[t2m] > 0, 0)
        subset['stake'] = stake['Stake'][0]
        subset_f = subset.groupby(['stake']).agg({t2m:np.mean, rh2:np.mean, ff:np.mean, 
                                         SWD:np.mean, LWD:np.mean, Prec:nansumwrapper,
                                         Snowfall:nansumwrapper, msl:np.mean,
                                         Pres:np.mean, fcc:np.mean, 't2m_an':np.mean,
                                         'PDD':nansumwrapper})
        subset_f.index = ([stake.Date[i]])
        subset_f0.append(subset_f)
    
    data_pro.append(pd.concat([stake, pd.concat(subset_f0).reset_index()], axis=1))

In [8]:
data_inp_four = pd.concat(data_pro)
data_inp_four.drop(['index', 'Date1', 'index'], axis=1, inplace=True)

In [9]:
data_inp_four.columns

Index(['Stake', 'Date', 'Latitude', 'Longitude', 'Elevation', 'Days', 'SMB',
       't2m', 'rh', 'u2', 'SWin', 'LWin', 'tp', 'sf', 'msl', 'press', 'tcc',
       't2m_an', 'PDD'],
      dtype='object')

In [10]:
data_inp_four

,Stake,Date,Latitude,Longitude,Elevation,Days,SMB,t2m,rh,u2,SWin,LWin,tp,sf,msl,press,tcc,t2m_an,PDD
0,R1,2007-11-08,-62.177620,-58.902406,82.0,0,0.68800,-2.004669,84.849731,8.158060,195.542618,281.738678,0.003757,0.003755,1002.200623,992.364685,0.986377,0.201572,0.000000
1,R1,2007-12-09,-62.177620,-58.902406,82.0,31,0.07040,-1.784555,84.299553,9.103031,232.225403,266.281586,0.070926,0.060473,987.878357,978.189148,0.797845,0.257820,1.136444
2,R1,2007-12-18,-62.177620,-58.902406,82.0,9,-0.02110,-0.736896,86.941505,8.778068,287.431763,258.618652,0.006645,0.005513,983.450867,973.816895,0.630075,0.525540,0.106842
3,R1,2007-12-26,-62.177620,-58.902406,82.0,8,-0.08258,-0.320730,89.146629,7.839071,273.747803,268.138306,0.007831,0.007126,994.327026,984.593018,0.698777,0.631887,0.312256
4,R1,2008-01-05,-62.177620,-58.902406,82.0,10,-0.21472,0.401575,91.102699,9.055030,242.693481,281.068726,0.022845,0.009095,983.325623,973.712830,0.824692,0.816466,5.689667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,JN,2012-02-04,-62.152849,-58.877932,231.0,15,-0.06902,-0.886911,87.399033,8.824408,226.311035,268.657654,0.022534,0.008324,982.462891,955.880310,0.706487,0.810947,0.499084
70,JN,2012-02-19,-62.152849,-58.877932,231.0,15,-0.08397,-0.778101,86.953789,9.289603,196.581177,260.800140,0.036652,0.010287,978.938232,952.453735,0.719598,0.840763,2.680664
71,JN,2012-03-04,-62.152849,-58.877932,231.0,14,-0.07208,-1.697310,80.577690,9.402825,147.152252,268.210297,0.029182,0.004306,997.594971,970.595520,0.795038,0.588881,0.962128
72,JN,2012-03-17,-62.152849,-58.877932,231.0,13,-0.15580,-0.280498,93.496742,9.801926,98.720810,290.908539,0.037604,0.001305,993.859009,966.982422,0.804409,0.977117,2.290161
73,JN,2012-03-30,-62.152849,-58.877932,231.0,13,-0.00000,-2.484373,79.241440,8.818785,86.975266,264.515503,0.036174,0.018641,986.953918,960.229126,0.828479,0.373210,0.000000

In [11]:
# reset SMB, tp, snowfall and PDD to 0 on 0 days observation
#data_inp_four[['SMB',Prec, Snowfall, 'PDD' ]] = data_inp_four[['SMB',Prec, Snowfall,
#                                                               'PDD' ]].where(data_inp_four['Days'] <= 100,
#                                                                              np.nan)
data_inp_four[['SMB',Prec, Snowfall, 'PDD' ]] = data_inp_four[['SMB',Prec, Snowfall,
                                                               'PDD' ]].where(data_inp_four['Days'] != 0,
                                                                              np.nan)
data_inp_four.dropna(inplace=True)

In [12]:
data_inp_four

,Stake,Date,Latitude,Longitude,Elevation,Days,SMB,t2m,rh,u2,SWin,LWin,tp,sf,msl,press,tcc,t2m_an,PDD
1,R1,2007-12-09,-62.177620,-58.902406,82.0,31,0.07040,-1.784555,84.299553,9.103031,232.225403,266.281586,0.070926,0.060473,987.878357,978.189148,0.797845,0.257820,1.136444
2,R1,2007-12-18,-62.177620,-58.902406,82.0,9,-0.02110,-0.736896,86.941505,8.778068,287.431763,258.618652,0.006645,0.005513,983.450867,973.816895,0.630075,0.525540,0.106842
3,R1,2007-12-26,-62.177620,-58.902406,82.0,8,-0.08258,-0.320730,89.146629,7.839071,273.747803,268.138306,0.007831,0.007126,994.327026,984.593018,0.698777,0.631887,0.312256
4,R1,2008-01-05,-62.177620,-58.902406,82.0,10,-0.21472,0.401575,91.102699,9.055030,242.693481,281.068726,0.022845,0.009095,983.325623,973.712830,0.824692,0.816466,5.689667
5,R1,2008-01-12,-62.177620,-58.902406,82.0,7,0.04209,-0.283012,86.842758,7.796926,244.882935,270.448425,0.010906,0.009206,985.011475,975.367310,0.784986,0.641526,0.104065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,JN,2012-02-04,-62.152849,-58.877932,231.0,15,-0.06902,-0.886911,87.399033,8.824408,226.311035,268.657654,0.022534,0.008324,982.462891,955.880310,0.706487,0.810947,0.499084
70,JN,2012-02-19,-62.152849,-58.877932,231.0,15,-0.08397,-0.778101,86.953789,9.289603,196.581177,260.800140,0.036652,0.010287,978.938232,952.453735,0.719598,0.840763,2.680664
71,JN,2012-03-04,-62.152849,-58.877932,231.0,14,-0.07208,-1.697310,80.577690,9.402825,147.152252,268.210297,0.029182,0.004306,997.594971,970.595520,0.795038,0.588881,0.962128
72,JN,2012-03-17,-62.152849,-58.877932,231.0,13,-0.15580,-0.280498,93.496742,9.801926,98.720810,290.908539,0.037604,0.001305,993.859009,966.982422,0.804409,0.977117,2.290161
73,JN,2012-03-30,-62.152849,-58.877932,231.0,13,-0.00000,-2.484373,79.241440,8.818785,86.975266,264.515503,0.036174,0.018641,986.953918,960.229126,0.828479,0.373210,0.000000

In [13]:
data_inp_four.to_csv('../data/SMB_input_belli_ERA5_diff.csv', index=False, sep='\t')
data_inp_four.to_csv('../data/SMB_input_four_ERA5.csv', index=False, sep='\t')